# Entornos virtuales
venv/
env/
myvenv/
ENV/
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3

# Archivos de log
*.log

# Archivos de base de datos

# Archivos de configuración de VSCode
.vscode/

# Archivos de caché de pip
pip-selfcheck.json

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Archivos de migraciones (opcional)
**/migrations/*.pyc
**/migrations/__pycache__/
